@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-space-grotesk:
    "Space Grotesk", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --primary-50:  #e9fff5;
  --primary-100: #61bc84;
  --primary-200: #4aa06c;
  --primary-300: #2e8b57;
  --primary-400: #256f46;
  --primary-500: #1d5737;
  --primary-600: #154128;
  --primary-700: #0e2d1c;
  --accent-100: #8fbc8f;
  --accent-200: #345e37;
  --text-50:  #ffffff;
  --text-100: #f5f5f5;
  --text-200: #e0e0e0;
  --text-300: #cfcfcf;
  --text-400: #b1b1b1;
  --text-500: #9a9a9a;
  --text-600: #7a7a7a;
  --text-700: #5f5f5f;
  --text-800: #4a4a4a;
  --text-900: #3a3a3a;
  --bg-50:  #181818;
  --bg-100: #1e1e1e;
  --bg-200: #242424;
  --bg-300: #2c2c2c;
  --bg-400: #353535;
  --bg-500: #3f3f3f;
  --bg-600: #4a4a4a;
  --bg-700: #5a5a5a;
  --bg-800: #6f6f6f;
  --bg-900: #8a8a8a;

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);
  --color-bg-50: var(--bg-50);
  --color-bg-100: var(--bg-100);
  --color-bg-200: var(--bg-200);
  --color-bg-300: var(--bg-300);
  --color-bg-400: var(--bg-400);
  --color-bg-500: var(--bg-500);
  --color-bg-600: var(--bg-600);
  --color-bg-700: var(--bg-700);
  --color-bg-800: var(--bg-800);
  --color-bg-900: var(--bg-900);
}

html,
body {
  @apply min-h-screen bg-bg-100 text-text-100 font-sans tracking-wide;
  background-size: 100% 100%, 100% 100%;
  background-attachment: fixed;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
